server:
  port: 8080
spring:
  application:
    name: music-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mybatisplus_test?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  sql:
    init:
      mode: always
      encoding: UTF-8
      continue-on-error: true
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true


